* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-snap-type: y mandatory; // y-axis
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color:  #0c0c1d;
    color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}